
* { padding: 0; margin: 0; }
canvas { background: rgb(0, 0, 0); display: block; margin: 0 auto; margin-top: 101px; margin-bottom: 101px;}

#div1{
    position: absolute;
    color: yellow; font-size: 40px;
    z-index: 1;
left: 55%;
top: 45%;
}

#div2{
    position: absolute;
    color: yellow; font-size: 40px;
    z-index: 1;
left: 43%;
top: 45%;
}

h1{
    background-color:black;
    color: white;
    padding:5%;
    text-align: center;
}

button{
    margin-left:50%;
    width: 70px;
    height: 30px;
}